<h1>Edit user_child</h1>

<form id="edit-user_child" name="user_child">
  <div class="field">
    <label for="id"> id:</label>
    <input type="text" name="id" id="id" value="<%= id %>" >
  </div>

  <div class="field">
    <label for="email"> email:</label>
    <input type="text" name="email" id="email" value="<%= email %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update User child" />
  </div>

</form>

<a href="#/index">Back</a>