<td><%= name %></td>
<td><%= email %></td>
<td><%= phone %></td>

<td>
    <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
        <button class="btn btn-xs btn-info" id="edit" title="Edit Contact">
            <i class="icon-edit bigger-120"></i>
        </button>

        <button class="btn btn-xs btn-danger" id="delete" title="Delete Contact">
            <i class="icon-trash bigger-120"></i>
    </div>
</td>