<div class="col-xs-12">
    <a id="create-parent" class="btn btn-info btn-sm blue">
        Create new parent </a>

    <div class="top-alert"></div>

    <div class="table-header">
        List parents
    </div>
    <div class="table-responsive" id="showcontent">
    </div>
</div>
