<td><%= first_name %></td>
<td><%= last_name %></td>
<td><%= email %></td>
<td><%= type_user %></td>

<td>
    <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
        <button class="btn btn-xs btn-info edit-parent" title="Edit Parent">
            <i class="icon-edit bigger-120"></i>
        </button>

        <button class="btn btn-xs btn-danger delete-parent" title="Delete Parent">
            <i class="icon-trash bigger-120"></i>
        </button>
    </div>
</td>