<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<!--<div>-->
<!--image_tag attachments['image.jpg'].url-->
<!--aaaa-->
<!--</div>-->

<h2>Welcome to MOM-Bot</h2>
<p>
  You received an MOM-Bot alert from <%= "#{@user_child.last_name}" "#{@user_child.first_name}" %>.
  Detail here: <a href="http://162.242.174.218/emergency/<%= @message_id %>">
  http://162.242.174.218/emergency/<%= @message_id %>
  </a>
</p>

</body>
</html>