<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<!--<div>-->
<!--image_tag attachments['image.jpg'].url-->
<!--aaaa-->
<!--</div>-->

<h2>Welcome to ms robot, <%= "#{@user_child.email}" %></h2>
<p>
  You have successfully signed up to ms robot,
</p>

<p>Thanks for joining and have a great day!</p>

<br>
<p>If you have any questions about your order please feel free to contact us.</p>

</body>
</html>