<div class="col-xs-12">
    <div id="choose-parent">
        <select class="chosen-select width-20"></select>

        <a href="#modal-form" id="create-parent" class="btn btn-sm btn-info pull-right" role="button" class="blue" data-toggle="modal">
            Create new group contact </a>
    </div>

    <div class="top-alert"></div>

    <div class="table-header">
        List group contacts
    </div>
    <div class="table-responsive" id="showcontent">
    </div>
</div>

