<td><%= name %></td>
<td><%= total_contact %></td>

<td>
    <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
        <button class="btn btn-xs btn-info" id="list_contact" title="List Contact">
            <i class="icon-list bigger-120"></i>
        </button>

        <button class="btn btn-xs btn-info" id="edit" title="Edit Group">
            <i class="icon-edit bigger-120"></i>
        </button>

        <button class="btn btn-xs btn-danger" id="delete" title="Delete Group">
            <i class="icon-trash bigger-120"></i>
        </button>
    </div>
</td>