<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group_contact.name %>
</p>

<%= link_to 'Edit', edit_group_contact_path(@group_contact) %> |
<%= link_to 'Back', group_contacts_path %>
